.icon {
    display: inline-flex;
    color: #64748b;
    transition: color 0.2s;
}

.icon.sm svg {
    width: 18px;
    height: 18px;
}

.icon.md svg {
    width: 24px;
    height: 24px;
}

.icon:hover {
    color: #2563eb;
}