.container {
    padding: 1.5rem 0 0 0;
}

.contact {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    margin: 0.8rem 0;
}

.link {
    color: var(--secondary-color);
    font-size: 0.95rem;
    text-decoration: none;
    transition: color 0.2s;
}

.link:hover {
    color: var(--accent-color);
}

/* Иконки */
.icon svg {
    vertical-align: middle;
}